#Para que no liste directorios sin index
IndexIgnore *
Options All -Indexes

RewriteEngine on

RewriteRule ^user/(\d+)/?$ user.php?user_id=$1 [L]

RewriteRule ^results/(.+)/?$ results.php?search=$1 [L]

RewriteRule ^entry/(\d+)/(\d+)/?$ entry.php?entry_id=$1&like=$2 [L,QSA]
RewriteRule ^entry/(\d+)/?$ entry.php?entry_id=$1 [L]

RewriteRule ^comment/(\d+)/?$ comment.php?entry_id=$1 [L]

RewriteRule ^follow/(\d+)/(\d+)?$ /follow.php?user_id=$1&user_followed=$2 [L,QSA]

RewriteRule ^contact/?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [R=301,L]

RewriteRule ^account/?$ bck/account.php [L]

RewriteRule ^list/?$ bck/list.php [L]

RewriteRule ^cancel/?$ bck/cancel.php [L]

ERRORDOCUMENT 404 /404

# Eliminar .php de las URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirige las URLs con extensión .php a la versión sin la extensión
# Cortesía de ChatGPT:
RewriteCond %{THE_REQUEST} \s([^\s]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]