/* Ajustes generales: */
* {
    padding: 0px;
    margin: 0px;
}

/* Ajustes para el body y el fondo */
body {
    background-image: url('/images/fondo.jpg');
    background-repeat: repeat-y;
    color:goldenrod;
}

img {
    max-height: 200px;
}


/* Para enseñar la carta ganadora */
.winner {
    background-color: darkgreen;
       padding: 10px;
       transform: rotateZ(23deg);
       border-radius: 10px;
    
}

/* Para el estilo del empate */
.even {

    background-color: #ccc;
    padding: 10px;
    transform: rotateZ(348deg);
    border-radius: 10px;

}

/* Ajustes para la mesa de juego:*/

.headContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tableGame {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Ajustes del jugador: */
.player {
    display:flex;
    flex-direction: row;
}

.playerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.winPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajustes para Footer: */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}