*{
    margin:0;
    padding:0;
    font-family: "Bangers";
    text-decoration: none;
}

body {
    text-align: center;
}

button {
    padding:10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

nav{
    width: 100%;
    display: flex;
    top: 0;
    background-color:rgb(162, 118, 185);
    
}

span {
    padding:30px; 
}

form {
    width: 40%;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly !important;
}

legend {
    font-size: xx-large;
}

fieldset {
    padding: 20px;
    background-color: rgb(197, 167, 213);
}

label {
    font-size: x-large;
}

select {
    padding:10px;
    margin:10px;
}

input {
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: xx-large;
    padding: 30px 0px 0px;
    cursor: default;
}

h3 {
    font-size: x-large;
    padding: 10px;
    background-color:darkslategrey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor:default;
}

table {
    width: 100%;
}

td img {
    width: 150px;
}

.trash {
    width: 40px;
}

.gold {
    color:goldenrod;
    text-shadow: 1px 3px 3px rgb(10, 8, 8);
}

.single {
    width: 80%;
    margin:20px auto;
}

.groups {
    width: 80%;
    min-height: 58vh;
    margin:auto;
    flex-wrap: wrap;
    gap: 50px;
}

.groups a, .single a {
    flex-direction: column;
    
}

.groups a h3, .single a h3 {
    width:100%;
    padding: 15px 0px;
}

.groups img, .single img {
    width: 300px;
    min-width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: darkslategray;
}
.group {
    display: flex;
    flex-direction: column;
}

.group a {
    cursor: pointer !important;
}

.error {
    flex-direction: column;
    border-radius: 15px;
    width: 40%;
    margin: 10px auto;
    padding: 10px 40px;
    background-color: darkred;
}

.buttons {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly !important;
}

.confirmation {
    border-radius: 15px;
    width: 40%;
    margin: auto;
    padding: 40px;
    background-color: darkgreen;
    font-size: larger;
}

.confirmation h2 {
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tSongs, .albums{
    width: 70%;
    margin: auto;
    flex-direction: row;
    background-color: rgb(197, 167, 213);  
}

.tSongs thead, .albums thead{
    font-size: x-large;
    padding:5px;
    background-color: darkmagenta;
}

.tSongs thead th, .albums thead th{
    padding: 5px;
    
}

.tSongs td, .albums td {
    padding: 5px;
    background-color:rgb(209, 189, 227);
}

footer {
    width: 100%;
    background-color:rgb(162, 118, 185);
    bottom: 0;
    position: relative;
    margin-top: 20px;
}

small {
    padding: 30px;
}
